@charset "utf-8";

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    padding-top: 5vw;
}
section>div{
    width:35vw;
    height: 25vw;
}
section>div>h1{
    font-family: 'font-B';
    font-size: 3.5rem;
    width: 35vw;
}
section>div>h1:first-child{
    margin-bottom: 2vw;
}


section>form{
    width:35vw;
    height: 25vw;
}
section>form>div{
    padding-left:4vw;
    margin-bottom:2vw;
}
.btn-name{
    display:flex;
    justify-content: space-between;
}
.btn-name>div>input{
    width:12vw;
}
.btn-name>div:last-child>input{
    width:16vw;
}

h5{
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 1vw;
}
input{
    height:3vw;
    padding:0 1vw;
    border-radius: 15px;
    border:none;
    font-weight: 400;
    font-size: 1rem;
    background-color: #F7F7F7;
}
input:focus{
    outline: 1.5px solid #1a1a1a;
}




.btn-email{
    width:100%;
}
.message{
    position:relative;
    padding-bottom:0;
}
.msg{
    width:100%;
    height:7vw;
    border:none;
    border-radius: 15px;
    resize: none;
    vertical-align:top;
    padding:1vw 1vw;
    font-weight: 400;
    font-size: 1rem;
    background-color: #F7F7F7;
}



.btn{
    position: absolute;
    bottom:0;
    left:-35vw;
    width:23vw;
    height: 3vw;
    line-height: 3vw;
    border-radius: 15px;
    text-align: center;
    background-color: #1a1a1a;
    color: #fafafb;
}
.btn>button{
    font-size: 1rem;
    font-weight:400;
}

@media all and (orientation: portrait) {

    section {
        flex-direction: column;
        padding-top: 10vw;
    }
    section>div {
        justify-content: center;
        width: 60vw;
        height: auto;
        margin-bottom:6vw;
    }
    section>div>h1 {
        font-size: 6rem;
        width: 100%;
    }
    section>div>h1:first-child {
        margin-bottom: 5vw;
    }

    section>form {
        width: 60vw;
        height: auto;
    }
    section>form>div {
        padding-left:0;
        margin-bottom: 4vw;
    }

    input {
        height: 7vw;
        font-size: 1.8rem;
        padding: 0 2vw;
    }

    h5 {
        font-weight: 400;
        font-size: 2.5rem;
        margin-bottom: 2vw;
    }

    .btn-name>div>input {
        width: 22vw;
    }
    .btn-name>div:last-child>input {
        width: 33vw;
    }

    .msg {
        height: 12vh;
        padding: 2vw 2vw;
        font-weight: 400;
        font-size: 1.8rem;
        background-color: #F7F7F7;
    }

    .btn {
        position: static;
        width: 100%;
        height: 5vh;
        margin-top:4vw;
    }
    .btn>button {
        font-size: 1.8rem;
        line-height: 5vw;
        font-weight: 400;
    }
}

@media all and (max-width:479px) {
    section {
        flex-direction: column;
        height: 100%;
        padding-top: 20vh;
    }
    section>div {
        justify-content: center;
        width: 70vw;
        height: auto;
        margin-bottom:10vw;
    }
    section>div>h1 {
        font-size: 8rem;
        width: 100%;
    }
    section>div>h1:first-child {
        margin-bottom: 5vw;
    }

    section>form {
        width: 70vw;
        height: auto;
    }
    section>form>div {
        padding-left:0;
        margin-bottom: 5vw;
    }

    input {
        height: 10vw;
        font-size: 2.5rem;
        padding: 0 3vw;
    }

    h5 {
        font-weight: 400;
        font-size: 3.5rem;
        margin-bottom: 2vw;
    }

    .btn-name>div>input {
        width: 27vw;
    }
    .btn-name>div:last-child>input {
        width: 38vw;
    }

    .msg {
        height: 15vw;
        padding: 3vw 3vw;
        font-weight: 400;
        font-size: 2.5rem;
        background-color: #F7F7F7;
    }

    .btn {
        position: static;
        width: 100%;
        height: 7vw;
        margin-top:5vw;
    }
    .btn>button {
        font-size: 2.5rem;
        line-height: 7vw;
        font-weight: 400;
    }
}